@import "src/styles/mixins";

.full {
    min-height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-768 {
        flex-direction: row;
    }
}
.taps {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    max-width: 500px;

    @include min-768 {
        margin: 0 auto;
    }
}
