@font-face {
    font-family: "AppleColorEmoji2";
    src: url("src/fonts/AppleColorEmoji.woff") format("woff");
}

@font-face {
    font-family: "AppleColorEmoji";
    src: url("src/fonts/AppleColorEmoji.ttf") format("truetype");
}

@font-face {
    font-family: "SFPRODISPLAYMEDIUM";
    src: url("src/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
