@import "fonts.scss";

:root {
    --cell-size: calc((100vw) / var(--count-size, 0));
    --padding: 0px;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #2c3e50;
    --count: 15;
    /* --main-font: "SFPRODISPLAYMEDIUM";
    --emoji-font: "AppleColorEmoji"; */

    @media (min-width: 500px) {
        --cell-size: calc((100vh) / var(--count));
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #ecf0f1;
    color: var(--text-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--secondary-color);
}

.container {
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.text-block {
    text-align: left;
    margin: 10px 0;
    padding-left: 10px;
    width: 100%;
}

.footer {
    text-align: right;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.map-grid-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: auto;
}

.map-grid {
    display: grid;
    width: auto;
    max-width: 100%;
    grid-template-columns: repeat(13, var(--cell-size));
    grid-template-rows: repeat(13, var(--cell-size));
    justify-items: center;
}

.map-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: 32px;
    padding: 0;
    cursor: pointer;
}

.top-left-text,
.top-right-text,
.bottom-left-text,
.bottom-right-text {
    position: absolute;
    font-size: 16px;
    padding: 5%;
}

.top-left-text {
    top: 5%;
    left: 5%;
}

.top-right-text {
    top: 5%;
    right: 5%;
}

.bottom-left-text {
    bottom: 5%;
    left: 5%;
}

.bottom-right-text {
    bottom: 5%;
    right: 5%;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .text-block {
        font-size: 1.5rem;
    }
}

@media (min-width: 601px) {
    .text-block {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        font-size: 1.5rem;
    }
}
